body {
  text-align: center;
  margin: 20px;
  font-family: 'Roboto', sans-serif;
}
.iframe_window {
  padding: 0px;
  position: relative;
  left: -30px;
  margin: 0px;
}
button {
  border-radius: 5px;
  background: white;
  color: black;
  border: none;
  padding: 8px 15px;
  margin: 0 5px;
  box-shadow: inset 0 0 0 1px black;
  outline: none;
}
#create {
  box-shadow: none;
  background: #18A0FB;
  color: white;
}
input {
  border: none;
  outline: none;
}
.left_panel--panelContainer--1OR1n {
  background-color: #000!important;
}
input:hover {
}
button:focus {
  outline: none;
}
#create:focus {  }
input:focus {
  outline: none;
}

.airtable__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.airma__logo {
  align-self: flex-start;
  padding: 0px;
  width: 100%;
  text-align: center;
  margin: 0px;
}
.airma__logo img {
  width: 100px;
  position: relative;
  display: inline-block;
  margin: auto;
  margin-bottom: 10px;
}
.airtable__container-fields-inner {
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 350px;
  height: 300px;
  text-align: left;
}
input.input__field {
  display: block;
  width: 100%;
  border: solid 1px #B154F9;
  padding: 10px;
  color: #151515;
  margin: 5px 0 5px 0;
}
input.input__submit {
  display: block;
  width: 100%;
  border: none;
  background-color: #ED2AA9;
  padding: 10px;
  color: #FBF5F5;
  font-weight: bold;
  margin: 5px 0 5px 0;
  cursor: pointer;
}
input.input__submit.--disabled {
  display: block;
  width: 100%;
  border: none;
  background-color: #F3E7EF;
  padding: 10px;
  color: #F195D1;
  font-weight: bold;
  margin: 5px 0 5px 0;
}
.loadingLogo {
  width: 88px;
  height: 39px;
  position: relative;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
.signInHeader {
  width: 439px;
  height: 136px;
  left: 0px;
  top: 35px;
  background: linear-gradient(231.15deg, #ED2AA9 36.24%, #A635FF 93.74%);
}
